.page {
    width: 900px;
    background-color: #deecf9;
    margin: auto;
    padding: 50px;
    padding-top: 0px;
}

.vis-container {
    text-align: center;
    width: 100%;
    height: 50;
}

h1.Title{
    font-size: 60px;
}

h2.Section_Title{
    /*background-color: #c7e9c0;*/
    border-bottom: 3px solid black;
    width: 100%;
    display: block;
    font-size: 30px;
}

h3.subtit{
    text-underline-offset: 3px;
    width: 100%;
    display: block;
    font-size: 20px;

}

p {
    justify-content: center;
    text-align: left;
    font-size: 18px;

}

p.para{
    padding: 15px;
}

p.waffle_text{
    padding-left: 50px;
    padding-right: 50px;

}


* {
    font-family: 'Play', sans-serif;
}
